.bg-gradient-primary{
    background-color: #121214 !important;
	background-image: none !important;
}	

.textCenter{
	text-align: center;
}

.marginAuto{
  margin: auto;
}



/* .sidebar-dark .nav-item .nav-link { */
    /* background: #169b6b !important; */
    /* color: white !important; */
/* } */